<div class="container">
	<div class="ig-parent-promo ig-common-bottom">
		<div class="row">
			<div class="ig-latest-head">
				<div class="col-md-12">
					<h2 class="ig-common-head">Promotions</h2>
				</div>
			</div>
		</div>
		<div class="row ig-promotions-carousel">
			<div class="col-md-4 ig-carosuel-item">
				<a href="#">
					<div class="ig-section-promo">
						<div class="row">
							<div class="col-md-9 col-9">
								<div class="ig-promotions-left">
									<span class="ig-promotion-text">Pay via Airtel Money/Airtel Payements bank & get cashback upto INR 250</span>
									<span class="ig-promotion-second">Expires 31/06/2018</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-3">
							<div class="ig-promotions-img">
								<span class="ig-promoimg-wrap">
									<img src="/images/imgairtel.jpg">
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-4 ig-carosuel-item">
				<a href="#">
					<div class="ig-section-promo">
						<div class="row">
							<div class="col-md-9 col-9">
								<div class="ig-promotions-left">
									<span class="ig-promotion-text">Pay via Airtel Money/Airtel Payements bank & get cashback upto INR 250</span>
									<span class="ig-promotion-second">Expires 31/06/2018</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-3">
							<div class="ig-promotions-img">
								<span class="ig-promoimg-wrap">
									<img src="/images/imgmastercard.jpg">
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-4 ig-carosuel-item">
				<a href="#">
					<div class="ig-section-promo">
						<div class="row">
							<div class="col-md-9 col-9">
								<div class="ig-promotions-left">
									<span class="ig-promotion-text">Pay via Airtel Money/Airtel Payements bank & get cashback upto INR 250</span>
									<span class="ig-promotion-second">Expires 31/06/2018</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-3">
							<div class="ig-promotions-img">
								<span class="ig-promoimg-wrap">
									<img src="/images/imgpaytm.jpg">
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-4 ig-carosuel-item">
				<a href="#">
					<div class="ig-section-promo">
						<div class="row">
							<div class="col-md-9 col-9">
								<div class="ig-promotions-left">
									<span class="ig-promotion-text">Pay via Airtel Money/Airtel Payements bank & get cashback upto INR 250</span>
									<span class="ig-promotion-second">Expires 31/06/2018</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-3">
							<div class="ig-promotions-img">
								<span class="ig-promoimg-wrap">
									<img src="/images/imgairtel.jpg">
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>