<div class="container">
	<div class="ig-parent-sr ig-common-bottom">
		<div class="ig-parent-saved">
			<div class="row">
				<div class="col-md-3">
					<div class="ig-wrap-city">
						<span class="ig-common-content">Round Trip</span>
						<span class="ig-city-subcontent">New Delhi to Goa</span>
					</div>	
				</div>

				<div class="col-md-2">
					<div class="ig-wrap-dep">
						<span class="ig-common-content">Departure</span>
						<span class="ig-dep-subcontent">22Jun,Fri</span>
					</div>	
				</div>

				<div class="col-md-2">
					<div class="ig-wrap-ret">
						<span class="ig-common-content">Return</span>
						<span class="ig-ret-subcontent">30Jun,Fri</span>
					</div>	
				</div>

				<div class="col-md-3">
					<div class="ig-wrap-passenger">
						<span class="ig-common-content">Passenger</span>
						<span class="ig-pas-subcontent">1 Adult, 1 children</span>
					</div>	
				</div>

				<div class="col-md-2">
					<div class="ig-wrap-modify">
						<span class="ig-mod-content">Modify Search</span>
					</div>	
				</div>
			</div>
		</div>

		<div class="ig-parent-modify" style="display:none;">
			<div class="row">
				<div class="col-md-11">
					<div class="ig-head-trip">
						<span class="custom-radio">
                            <input type="radio" name="searchtype" checked id="oneway" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
                            <label for="oneway">One way</label>
                        </span>

                        <span class="custom-radio">
                            <input type="radio" name="searchtype" id="twoway" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
                            <label for="twoway">Round trip</label>
                        </span>

                        <span class="custom-radio">
                            <input type="radio" name="searchtype"  id="twoway" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
                            <label for="twoway">Multi city</label>
                        </span>

					</div>
				</div>
				<div class="col-md-1">
					<a href="javascript:void(0);" class="ig-close-mod">Close</a>
				</div>
			</div>
			<div class="row ig-common-space">
				<div class="col-md-2">
					<div class="ig-input-group">
                        <label class="field-label">From</label>
                        <input type="text" required="" placeholder="From" class="form-control hpBookingForm" data-parsley-id="11">
                     </div>
				</div>
				<div class="col-md-2">
					<div class="ig-input-group">
                        <label class="field-label">To</label>
                        <input type="text" required="" placeholder="To" class="form-control hpBookingForm" data-parsley-id="11">
                     </div>
				</div>
				<div class="col-md-2">
					<div class="ig-input-group">
                        <label class="field-label">Departure</label>
                        <input type="text" required="" placeholder="Departure" class="form-control hpBookingForm" data-parsley-id="11">
                     </div>
				</div>
				<div class="col-md-2">
					<div class="ig-input-group">
                        <label class="field-label">Return</label>
                        <input type="text" required="" placeholder="Return" class="form-control hpBookingForm" data-parsley-id="11">
                     </div>
				</div>
				<div class="col-md-2">
					<div class="ig-input-group">
                        <label class="field-label">Passenger(s) Class</label>
                        <input type="text" required="" placeholder="Passenger(s) Class" class="form-control hpBookingForm" data-parsley-id="11">
                     </div>
				</div>
				<div class="col-md-2">
					<div class="ig-input-group">
                        <label class="field-label">Pay In</label>
                        <input type="text" required="" placeholder="Pay In" class="form-control hpBookingForm" data-parsley-id="11">
                     </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<span class="custom-radio">
                            <input type="radio" name="searchtypediscount" id="armedforces" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
                            <label for="armedforces">Armed forces Personnel</label>
                     </span>
				</div>

				<div class="col-md-2">
					<span class="custom-radio">
                            <input type="radio" name="searchtypediscount"  id="uaminor" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
                            <label for="uaminor">Unaccompanied Minor</label>
                     </span>
				</div>

				<div class="col-md-2">
					<span class="custom-radio">
                            <input type="radio" name="searchtypediscount"  id="scitizen" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
                            <label for="scitizen">6E Senior Citizen</label>
                     </span>
				</div>

				<div class="col-md-2">
					<span class="custom-radio">
                            <input type="radio" name="searchtypediscount"  id="stu" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
                            <label for="stu">6E student</label>
                     </span>
				</div>

				<div class="col-md-2">
					<span class="custom-radio">
                            <input type="radio" name="searchtypediscount"  id="ff" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
                            <label for="ff">Family and Friends</label>
                     </span>
				</div>

				<div class="col-md-2">
					<button class="btn btn-primary block bold ig-search-btn" type="submit">Search Flight</button>
				</div>
			</div>
		</div>
	</div>
</div>
