
<div class="container">
	<div class="ig-contact-us ig-common-bottom">
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="ig-icon-blck">
					<span></span>
				</div>
				<div class="ig-content-blck">
					<h6>Call Us</h6>
					<p>Contact us at our toll free number: 0124 6173838 9910383838 </p>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="ig-icon-blck">
					<span></span>
				</div>
				<div class="ig-content-blck">
					<h6>Email Us</h6>
					<p>Share your feedback over email</p>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="ig-icon-blck">
					<span></span>
				</div>
				<div class="ig-content-blck">
					<h6>Chat with us</h6>
					<p>Share your feedback on our messenger</p>
				</div>
			</div>
		</div>
	</div>
</div>