<div class="container">
	<div class="ig-parent-searchresult">
		<div class="row">
			<div class="col-md-6">
				<div class="ig-wrap-city">
					<span class="ig-city">DEL</span>
					<span class="ig-ncity">GOA</span>
				</div>
				<span class="ig-sdc">22Jun,</span>
				<span class="ig-sdc">Fri</span>
				<span>.</span>
				<span class="ig-sdc">1 Adult</span>
				<span class="ig-sdf" >A320-200,ATR</span>
			</div>

			<div class="col-md-6">
				<div class="ig-wrap-city">
					<span class="ig-city">GOA</span>
					<span class="ig-ncity">DEL</span>
				</div>
				<span class="ig-sdc">23Jun,</span>
				<span class="ig-sdc">Fri</span>
				<span>.</span>
				<span class="ig-sdc">1 Adult</span>
				<span class="ig-sdf" >A320-200,ATR</span>
			</div>

		</div>
		<div class="row">
			<div class="col-md-6">
				  <ul class="nav nav-tabs">
				    <li class="active"><a data-toggle="tab" href="#home">All</a></li>
				    <li><a data-toggle="tab" href="#menu1">NON STOP</a></li>
				    <li><a data-toggle="tab" href="#menu2">DEPARTURE</a></li>
				    <li><a data-toggle="tab" href="#menu3">ARRIVAL</a></li>
				    <li><a data-toggle="tab" href="#menu2">PRICE</a></li>
				    <li><a data-toggle="tab" href="#menu3">DURATION</a></li>
				  </ul>
				  <div class="ig-flight-head">
				  	<div class="ig-fixed">
				  		<div class="row">
				  			<div class="col-md-6">
				  				<span class="round-text">ROUND TRIP</span>
				  				<span class="discount-text">Discounted fare</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class=ig-class-flight>Saver</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class=ig-class-flight>Lite</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class=ig-class-flight>Flexi</span>
				  				<span class="desc-unlimited">Unlimited rescheduling</span>
				  			</div>
				  		</div>
				  	</div>
				  </div>
				  <div class="ig-fixed-flight-wrap">
				  	<div class="custom-scrollbar">
				  		<div class="custom-scroll-handle" style="height: 38px; top: 18.7119px;">
				  		  <div class="inner-handle"></div>
				  		</div>
				    </div>
				    <div class="inner-container">
				  	<div class="ig-flightcontent">
				  		<div class="row">
				  			<div class="col-md-6">
				  				<div class="flight-duration">
				  					<span class="flight-name">6E 792</span>
				  					<span class="flight-time">16:05-18:20</span>
				  					<div class="wrap-flightduration">
					  					<span class="flight-total">2h 5m</span>
					  					<span class="spaceDot">.</span>
					  					<span class="flight-direct">connecting</span>
				  					</div>
				  				</div>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="tojourney" checked id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="tojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="tojourney" id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  		</div>
				  	</div>

				  		<div class="ig-flightcontent">
				  		<div class="row">
				  			<div class="col-md-6">
				  				<div class="flight-duration">
				  					<span class="flight-name">6E 792</span>
				  					<span class="flight-time">16:05-18:20</span>
				  					<div class="wrap-flightduration">
					  					<span class="flight-total">2h 5m</span>
					  					<span class="spaceDot">.</span>
					  					<span class="flight-direct">connecting</span>
				  					</div>
				  				</div>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="tojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="tojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="tojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  		</div>
				  	</div>

				  		<div class="ig-flightcontent">
				  		<div class="row">
				  			<div class="col-md-6">
				  				<div class="flight-duration">
				  					<span class="flight-name">6E 792</span>
				  					<span class="flight-time">16:05-18:20</span>
				  					<div class="wrap-flightduration">
					  					<span class="flight-total">2h 5m</span>
					  					<span class="spaceDot">.</span>
					  					<span class="flight-direct">connecting</span>
				  					</div>
				  				</div>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="tojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="tojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="tojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  		</div>
				  	</div>

				  		<div class="ig-flightcontent">
				  		<div class="row">
				  			<div class="col-md-6">
				  				<div class="flight-duration">
				  					<span class="flight-name">6E 792</span>
				  					<span class="flight-time">16:05-18:20</span>
				  					<div class="wrap-flightduration">
					  					<span class="flight-total">2h 5m</span>
					  					<span class="spaceDot">.</span>
					  					<span class="flight-direct">connecting</span>
				  					</div>
				  				</div>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="tojourney" id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="tojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="tojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  		</div>
				  	</div>
				  </div>
				  </div>
			</div>
			<div class="col-md-6">
				  <ul class="nav nav-tabs">
				    <li class="active"><a data-toggle="tab" href="#home">All</a></li>
				    <li><a data-toggle="tab" href="#menu1">NON STOP</a></li>
				    <li><a data-toggle="tab" href="#menu2">DEPARTURE</a></li>
				    <li><a data-toggle="tab" href="#menu3">ARRIVAL</a></li>
				    <li><a data-toggle="tab" href="#menu2">PRICE</a></li>
				    <li><a data-toggle="tab" href="#menu3">DURATION</a></li>
				  </ul>
				  <div class="ig-flight-head">
				  	<div class="ig-fixed">
				  		<div class="row">
				  			<div class="col-md-6">
				  				<span class="round-text">ROUND TRIP</span>
				  				<span class="discount-text">Discounted fare</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class=ig-class-flight>Saver</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class=ig-class-flight>Lite</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class=ig-class-flight>Flexi</span>
				  				<span class="desc-unlimited">Unlimited rescheduling</span>
				  			</div>
				  		</div>
				  	</div>
				  </div>
				  <div class="ig-fixed-flight-wrap">
				  	<div class="custom-scrollbar">
				  		<div class="custom-scroll-handle" style="height: 38px; top: 18.7119px;">
				  		  <div class="inner-handle"></div>
				  		</div>
				    </div>
				   <div class="inner-container">
				  	<div class="ig-flightcontent">
				  		<div class="row">
				  			<div class="col-md-6">
				  				<div class="flight-duration">
				  					<span class="flight-name">6E 792</span>
				  					<span class="flight-time">16:05-18:20</span>
				  					<div class="wrap-flightduration">
					  					<span class="flight-total">2h 5m</span>
					  					<span class="spaceDot">.</span>
					  					<span class="flight-direct">connecting</span>
				  					</div>
				  				</div>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="frojourney" checked id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="frojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="frojourney" id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  		</div>
				  	</div>

				  		<div class="ig-flightcontent">
				  		<div class="row">
				  			<div class="col-md-6">
				  				<div class="flight-duration">
				  					<span class="flight-name">6E 792</span>
				  					<span class="flight-time">16:05-18:20</span>
				  					<div class="wrap-flightduration">
					  					<span class="flight-total">2h 5m</span>
					  					<span class="spaceDot">.</span>
					  					<span class="flight-direct">connecting</span>
				  					</div>
				  				</div>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="frojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="frojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="frojourney" id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  		</div>
				  	</div>

				  		<div class="ig-flightcontent">
				  		<div class="row">
				  			<div class="col-md-6">
				  				<div class="flight-duration">
				  					<span class="flight-name">6E 792</span>
				  					<span class="flight-time">16:05-18:20</span>
				  					<div class="wrap-flightduration">
					  					<span class="flight-total">2h 5m</span>
					  					<span class="spaceDot">.</span>
					  					<span class="flight-direct">connecting</span>
				  					</div>
				  				</div>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="frojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="frojourney" id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="frojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  		</div>
				  	</div>

				  		<div class="ig-flightcontent">
				  		<div class="row">
				  			<div class="col-md-6">
				  				<div class="flight-duration">
				  					<span class="flight-name">6E 792</span>
				  					<span class="flight-time">16:05-18:20</span>
				  					<div class="wrap-flightduration">
					  					<span class="flight-total">2h 5m</span>
					  					<span class="spaceDot">.</span>
					  					<span class="flight-direct">connecting</span>
				  					</div>
				  				</div>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="frojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="frojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  			<div class="col-md-2">
				  				<span class="custom-radio">
		                            <input type="radio" name="frojourney"  id="saverprice" class="form-control" data-parsley-multiple="" data-parsley-id=""> 
		                            <label for="saverprice">&#x20B9; 10000</label>
			                     </span>
			                     <span class="city-connected">HYD(2H5M)</span>
				  			</div>
				  		</div>
				  	</div>
				  </div>
				  </div>
			</div>
		</div>
	</div>
</div>