<div class="container">
	<div class="ig-parent-srp ig-common-bottom">
		<div class="row">
			<div class="col-md-8">
				<span class="ig-logo">
					<img src="/images/indiGoLogo.png">
				</span>
			</div>
			<div class="col-md-4">
				<a href="javascript:void(0);" class="ig-commom-right">INR</a>
				<a href="javascript:void(0);" class="ig-commom-right">FAQs</a>
				<a href="javascript:void(0);" class="ig-commom-right">Contact us</a>
				<div class="ig-userimg"></div>
			</div>
		</div>
	</div>
</div>