
<section class="ig-subscription-form">
	<h2>Lets keep in touch</h2>
	<p>Get recommendations, tips, updates, promotions and more.</p>
	<div class="input-group mb-3">
	  	<input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
	  	<div class="input-group-append">
	    	<button class="btn btn-primary" type="button">Sign Up</button>
	  	</div>
	</div>
	<span>Emails submitted to Indigo are subject to our <a href="#">Privacy Notice.</a></span>
</section>

