<div class="container">
	<div class="ig-parent-alert ig-common-bottom" style="margin-top:20px;">
		<div class="row">
			<div class="col-md-12">
				<div class="ig-wrap-alert">
					<div class="row">
						<div class="col-md-2">
							<span class="ig-alert-img">
								<img src="/images/indigoalerts.jpg">
							</span>
							<span class="ig-alert-name semi-bold">INDIGO<br>ALERTS</span>
						</div>
						<div class="col-md-9 ig-run-alert-carousel">
							<div>
								<p>Cancellation/change fee has been revised for international flights w.e.f 2 May 2018.<a href="javascript:void(0);">Know more</a></p>
							</div>
							<div>
								<p>Cancellation/change fee has been revised for international flights w.e.f 2 May 2018.<a href="javascript:void(0);">Know more</a></p>
							</div>
							<div>
								<p>Cancellation/change fee has been revised for international flights w.e.f 2 May 2018.<a href="javascript:void(0);">Know more</a></p>
							</div>
						</div>
						<div class="col-md-1">
							<div class="ig-arrow-carousel"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>