<div class="container">
	<div class="ig-parent-latest ig-common-bottom">
		<div class="row">
			<div class="ig-latest-head">
				<div class="col-md-12">
					<h2 class="ig-common-head">Latest</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="ig-inner-section">
					<div class="row">
						<div class="col-md-3">
							<div class="ig-icon-discount">
								
							</div>
						</div>
						<div class="col-md-9">
							<span class="ig-latest-text">Student Discount</span>
							<span class="ig-latest-text-second">6% off and 10KG extra baggae allowance</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="ig-inner-section ig-sixE-text">
					<div class="row">
						<div class="col-md-3">
							<div class="ig-icon-discount">
								
							</div>
						</div>
						<div class="col-md-9">
							<span class="ig-latest-text">6E Special</span>
							<span class="ig-latest-text-second">Buy and get upto 4x benifits</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="ig-inner-section ig-sixSme-Text">
					<div class="row">
						<div class="col-md-3">
							<div class="ig-icon-discount">
								
							</div>
						</div>
						<div class="col-md-9">
							<span class="ig-latest-text">6E SME</span>
							<span class="ig-latest-text-second">Enjoy unlimited changes.Lower cancellation fees and a free snack</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="ig-inner-section ig-gift-text">
					<div class="row">
						<div class="col-md-3">
							<div class="ig-icon-discount">
								
							</div>
						</div>
						<div class="col-md-9">
							<span class="ig-latest-text">Gift</span>
							<span class="ig-latest-text-second">6% off and 10KG extra baggae allowance</span>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
