<div class="container">
	<div class="ig-deals-offers">
		<div class="row">
			<div class="col-md-12">
				<h2 class="ig-common-head">Accomodation Deals & Offers </h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<picture>
					<img src="https://images.financialexpress.com/2018/03/IndiGo.jpg">
				</picture>
				<h6 class="ig-common-title">Booking.com</h6>
				<p class="ig-common-subtitle">Book now and pay later with Free Cancellation on most rooms!</p>
			</div>
			<div class="col-md-6">
				<picture>
					<img src="https://images.financialexpress.com/2018/03/IndiGo.jpg">
				</picture>
				<h6 class="ig-common-title">OYO</h6>
				<p class="ig-common-subtitle">With over 8500+ hotels and 70,000 rooms across 230+ cities, OYO creates beautiful living spaces & hassle-free experiences.</p>
			</div>
		</div>
	</div>
</div>
