<div class="container ig-search-container">
    <div class="row clearfix">
        <!--search-->
        <div class="col-md-5 ig-hp-search">
            <div class="ig-hp-search-form">
            </div>
        </div>
    </div>
</div>
        <div class="ig-hp-carousel">
            <div class="ig-hp-carousel-item">
                <div class="ig-carousel-image">
                    <div class="container carousel-container">
                        <div class="ig-carousel-item-text">
                                <div class="ig-carousel-title">
                                Fly Jaipur
                                </div>
                                <div class="ig-carousel-desc">
                                Available for a limited time from
                                </div>
                                <div class="ig-carousel-price">
                                ₹4999
                                <span>one way*</span>
                                </div>
                                <div class="ig-carousel-action">
                                <button class="btn btn-secondary">Book now</button>
                                <button class="btn-default btn">Learn more</button>
                                </div>
                            </div>
                    </div>
                    <picture>
                    <!--[if IE 9]>
                    <video style="display: none;">
                        <![endif]-->
                        <source srcset="images/img_jaipur_mobile.jpg" media="(max-width: 991px)">
                        <source srcset="images/img_jaipur_desktop.jpg">
                        <!--[if IE 9]>
                    </video>
                    <![endif]-->
                    <img class="img-fluid" srcset="images/img_jaipur_desktop.jpg" alt="IndiGO">
                    </picture>
                
                </div>
            </div>
            <div class="ig-hp-carousel-item">
                    <div class="ig-carousel-image">
                        <div class="container carousel-container">
                            <div class="ig-carousel-item-text">
                                    <div class="ig-carousel-title">
                                    Fly Goa
                                    </div>
                                    <div class="ig-carousel-desc">
                                    Available for a limited time from
                                    </div>
                                    <div class="ig-carousel-price">
                                    ₹4999
                                    <span>one way*</span>
                                    </div>
                                    <div class="ig-carousel-action">
                                    <button class="btn btn-secondary">Book now</button>
                                    <button class="btn-default btn">Learn more</button>
                                    </div>
                                </div>
                        </div>
                        <picture>
                        <!--[if IE 9]>
                        <video style="display: none;">
                            <![endif]-->
                            <source srcset="images/img_goa_mobile.jpg" media="(max-width: 991px)">
                            <source srcset="images/img_goa_desktop.jpg">
                            <!--[if IE 9]>
                        </video>
                        <![endif]-->
                        <img class="img-fluid" srcset="images/img_goa_desktop.jpg" alt="IndiGO">
                        </picture>
                    
                    </div>
                </div>
            
        </div>
