<div class="container">
	<div class="ig-parent-popular ig-common-bottom">
	  <div class="row">
		<div class="ig-popular-head">
			<div class="col-md-12">
				<h2 class="ig-common-head">Popular Gateways from 
					<div class="dropdown">
					  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					    New Delhi
					  </button>
					  <div class="dropdown-menu">
					    <a class="dropdown-item" href="#">Link 1</a>
					    <a class="dropdown-item" href="#">Link 2</a>
					    <a class="dropdown-item" href="#">Link 3</a>
					  </div>
					</div>
				</h2>
			</div>
		</div>
	 </div>
	 <div class="row ig-popular-carousel">
	 	<div class="col-6 col-md-3 ig-carosuel-item">
	 		<a href="#">
		 		<picture>
		 			<img src="/images/populargoa.jpg"/>
		 		</picture>
		 		<div class="ig-common-desc-top">
		 			<h6 class="ig-common-title">Goa</h6>
		 			<p class="ig-common-subtitle">Starting at &#x20B9; 200</p>
		 		</div>
		 		<div class="ig-temp-widget">
		 			<span>22&deg;c</span>
		 		</div>
	 		</a>
	 	</div>

	 	<div class="col-6 col-md-3 ig-carosuel-item">
	 		<a href="#">
		 		<picture>
		 			<img src="/images/popularmumbai.jpg"/>
		 		</picture>
		 		<div class="ig-common-desc-top">
		 			<h6 class="ig-common-title">Goa</h6>
		 			<p class="ig-common-subtitle">Starting at &#x20B9; 200</p>
		 		</div>
		 		<div class="ig-temp-widget">
		 			<span>22&deg;c</span>
		 		</div>
		 	</a>
	 	</div>

	 	<div class="col-6 col-md-3 ig-carosuel-item">
	 		<a href="#">
		 		<picture>
		 			<img src="/images/popularblr.jpg"/>
		 		</picture>
		 		<div class="ig-common-desc-top">
		 			<h6 class="ig-common-title">Goa</h6>
		 			<p class="ig-common-subtitle">Starting at &#x20B9; 200</p>
		 		</div>
		 		<div class="ig-temp-widget">
		 			<span>22&deg;c</span>
		 		</div>
		 	</a>
	 	</div>

	 	<div class="col-6 col-md-3 ig-carosuel-item">
	 		<a href="#">
		 		<picture>
		 			<img src="/images/popularhyd.jpg"/>
		 		</picture>
		 		<div class="ig-common-desc-top">
		 			<h6 class="ig-common-title">Goa</h6>
		 			<p class="ig-common-subtitle">Starting at &#x20B9; 200</p>
		 		</div>
		 		<div class="ig-temp-widget">
		 			<span>22&deg;c</span>
		 		</div>
		 	</a>
	 	</div>
	 	<div class="col-6 col-md-3 ig-carosuel-item">
	 		<a href="#">
		 		<picture>
		 			<img src="/images/popularhyd.jpg"/>
		 		</picture>
		 		<div class="ig-common-desc-top">
		 			<h6 class="ig-common-title">Goa</h6>
		 			<p class="ig-common-subtitle">Starting at &#x20B9; 200</p>
		 		</div>
		 		<div class="ig-temp-widget">
		 			<span>22&deg;c</span>
		 		</div>
		 	</a>
	 	</div>
	 	<button type="button" class="d-block d-sm-none btn btn-secondary">See all (25)</button>
	 </div>
	</div>
</div>