<div class="container">
	<div class="ig-add-passengers">
		<div class="ig-steps-header clearfix active">
			<h6 class="steps-title">
				<i class="checked-icon"></i>
				1. ADD PASSENGER DETAILS
				<span class="no-of-passengers">Dheeraj +3</span>
			</h6>
			<a href="#" class="change-details">Change</a>
		</div>
		<div class="ig-passengers-details">
			<div class="row">
				<div class="col-md-9 passenger-det-space">
					<div class="row">
						<div class="col-sm-2">
                            <div class="ig-input-group">
                                <label class="field-label">Title</label>
                                <input type="text" required="" placeholder="Title" class="form-control hpBookingForm" data-parsley-id="11">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="ig-input-group">
                                <label class="field-label">First Name</label>
                                <input type="text" required="" placeholder="First Name" class="form-control hpBookingForm" data-parsley-id="11">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="ig-input-group">
                                <label class="field-label">Last Name</label>
                                <input type="text" required="" placeholder="Last Name" class="form-control hpBookingForm" data-parsley-id="11">
                            </div>
                        </div>
                        <div class="col-sm-5">
	                        <label class="switch">
							  <input type="checkbox">
							  <span class="slider round"></span>
							</label>
							<span class="toggle-desc">Wheelchair Assistance Required</span>
						</div>
						<div class="col-sm-4">
	                        <label class="switch">
							  <input type="checkbox">
							  <span class="slider round"></span>
							</label>
							<span class="toggle-desc">Add to Favourites</span>
						</div>
					</div>
					<div class="submit-blck">
						<button type="button" class="btn btn-primary">Submit</button>
					</div>
				</div>
				<div class="col-md-3 passenger-fav-space">
					<div class="fav-list-head clearfix">
						<p class="fav-title"><i></i> FAVORITE LIST</p>
						<a href="#" class="edit-list">Edit List</a>
					</div>
					<div class="search-fav">
						<input type="text" name="search">
					</div>
					<ul class="passengers-fav-list">
						<li>
							<p>Dheeraj Taneja</p>
							<a href="#" class="steps-common-btn">Remove</a>
						</li>
						<li>
							<p>Mayank Matta</p>
							<a href="#" class="steps-common-btn">Add</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>