<html>
<head>
    <!--this include contains title, stylesheet etc-->
    <% include components/_global-head.html %>
</head>
<body>
    <section>
        <div class="container">
            <div class="row clearfix">
            <!--top navigation-->
                <% include components/_global-header.html %>
            <!--//top navigation-->
            </div>
            <div class="row clearfix">
                <div class="col-sm-5">
                    <!--flight search widget -->
                        <% include components/_global-header.html %>
                    <!--//flight search widget -->
                </div>
                <div class="col-sm-7">
                    <!--home page carousel-->
                        <% include components/_global-header.html %>
                    <!--//home page carousel-->
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row clearfix">
            <!--home page alert-->
            <% include components/_global-header.html %>
            <!--//home page alert-->
        </div>
    

        <div class="row clearfix">
            <!--promotion-->
            <% include components/_global-header.html %>
            <!--//promotion-->
        </div>

        <div class="row clearfix">
            <!--Accomodation Deals & Offers -->
            <% include components/_global-header.html %>
            <!--//Accomodation Deals & Offers -->
        </div>

        <!--this include contains title, stylesheet etc-->
        <% include components/_global-footer.html %>
    </div>
</body>
</html>