<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!--this include contains title, stylesheet etc-->
    <% include components/_global-head.html %>
</head>
<body>
    <section>
        <div class="container">
            
        </div>
    </section>

    <div class="container">
        
         <div class="row">

            <% include components/_homepage-deals-offers.html %>

        </div>
        
        <div class="row">
            
            <% include components/_homepage-6e-extras.html %>

        </div>

        <div class="row">

            <% include components/_homepage-indigo-benefits.html %>

        </div>
        <!-- Global Subsription Form -->

        <% include components/_global-subscription.html %>

        <!-- //Global Subsription Form -->

        <!-- Global Contact Section -->

        <div class="row">

            <% include components/_global-contact.html %>

        </div>

        <!-- //Global Contact Section -->

        <div class="row">

            <% include components/_global-footer.html %>

        </div>
        
        <!--this include contains title, stylesheet etc-->
        
    </div>

    
            
       
</body>
</html>