.ig-common-title{
	font-weight:600;
	margin-bottom:5px;
}

.ig-common-subtitle{
	font-size:16px;
	color:#666;
}
.ig-common-head{
	margin-bottom:15px;
}
.ig-common-desc-top{
	margin-top:11px;
}
.ig-common-bottom{
	margin-bottom:30px;
}