.ig-wrap-alert{

     padding: 11px;
     height:143px;
	.ig-alert-img{
	    width: 50px;
	    height: 40px;
	    border: 1px solid #ddd;
	    margin-right: 10px;
	    display: inline-block;
	    float: left;
	}
	.ig-alert-name{
		font-weight:bold;
		font-size: 18px;
		float:left;
		color: #26329f;
	}
	.ig-arrow-carousel{
	border: 1px solid #ddd;
    height: 40px;
    width: 50px;
    display: inline-block;
    margin-top:2px;
    @include breakpoint(mobile){ 
	display:none;
	}
	}
	p{
	    padding-top: 10px;
	}

	.slick-dots{
	    bottom: -40px;
	}
}

.ig-parent-alert {
	border:1px solid #e5e5e5;
@include breakpoint(desktop){ 
	height:70px;
	}
		.slick-prev, .slick-next{
		width: 20px !important;
	    height: 20px !important;
	    box-shadow: none !important;
	}
	.slick-next{
	right:-33px;
	}
	.slick-prev{
    left: inherit;
	right: -56px;
	}


}

