.ig-section-promo{
	border: 1px dashed #c6c6c6;
    border-width: 2px;
    padding: 26px 15px;
}
.ig-promotions-img{
    border: 1px solid #ddd;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.ig-promotion-second{
	color: #999;
    display: block;
    font-size: 13px;
    padding-top: 4px;
}