.ig-wrap-alert {

     padding: 11px;

	.ig-alert-img {
		 width: 60px;
	    height: 40px;
	    margin-right: 10px;
	    display: inline-block;
	    float: left;
	    margin-top: -5px;
   		img{
   		width:100%;
   		}
	}
	.ig-alert-name {
		font-size: 18px;
		float:left;
		color: $blue;
	}

	p {
	    padding-top: 10px;
	    margin-bottom:0;
	}

	.slick-dots {
	    bottom: -40px;
	}
}

.ig-parent-alert {

	border:1px solid $border-line;

	.slick-prev, .slick-next {
    box-shadow: none;
    cursor:pointer;
}

.slick-prev {
    left: inherit;
    right: -48px;
    z-index: 99;
}
.slick-next {

    right: -82px;
    z-index: 99;

}

.slick-dots li button:before {

	    font-size: 25px;

}
.slick-dotted.slick-slider{

	margin-bottom:0;
}

}

