
.ig-footer {
	padding: 35px 0 0;
	position: relative;
	h7 {
		font-size: 15px;
		font-weight: bold;
		color: #555;
		margin-bottom: 13px;
		display: block;
	}
	.social-links{
		position: absolute;
		right: 0;
		@include breakpoint(mobile){ 
			position: static;
		}
	}
	@include breakpoint(mobile){ 
		text-align: center;
	}
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.ig-footer-site-list {
	li {
		line-height: 24px;
		font-size: 14px;
		a {
			color: #666;
			&:hover{
				text-decoration :none;
				color:$black;
			}
		}
	}
}

.ig-footer-social-list {
	margin-bottom: 25px;
	a {
		width: 18px;
		height: 18px;
		border: 1px solid $border-line;
		display: inline-block;
		padding: 5px; 	
	}
	&:last-child {
		margin-right: 0;
	}
	
	@include breakpoint(mobile){ 
	    margin: 0 auto 25px;
	    width: 29%;
	}
}

.ig-footer-download-list {
	li {
		margin-bottom: 10px;
		a {
			width: 135px;
			height: 39px;
			display: block;
			
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.copyright-blck {
	padding: 20px 15px;
	border-top: 1px solid $border-line;
	margin-top: 35px;
	.copyright-content {
		float: left;
		width: 35%;
		span {
			float: left;
		    width: 30px;
		    height: 30px;
		    display: block;
		    margin-right: 20px;
		    background-color: #ddd;
		    @include breakpoint(mobile){ 
				margin-right: 10px;
			}
		}
		p {
			font-size: 14px;
			font-weight: 600;
			color: #666;
			margin: 5px 0 0 40px;
			@include breakpoint(mobile){ 
				text-align: left;
			}
		}
		@include breakpoint(mobile){ 
			width: 48%;
		}
	}
	.lang-price{
		float: right;
		margin-top: 3px;
		.dropdown {
			display: inline-block;
		}
		.btn {
			font-size: 14px;
    		padding: 0 .75rem;
		}
	}
}

.ig-footer-accordion {
	width: 75%;
	@include breakpoint(mobile){ 
		width: 100%
	}
	.ig-acc-sitemap {
		display: inline-block;
		vertical-align: top;
    	max-width: 32%;
    	@include breakpoint(mobile){ 
    		max-width: 100%;
    	}
	}
	.btn-link{
		font-size: 15px;
	    font-weight: bold;
	    color: #555;
	    margin-bottom: 13px;
	    display: block;
	    padding: 0;
		&:hover,
	    &:focus,
	    &:active,
	    &.active {
			text-decoration: none;
		}
		@include breakpoint(mobile){ 
			margin: 0 auto;
			padding: .375rem .75rem;
		}
	}
}