.ig-hp-carousel{
    max-width: 1600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height:620px;
    margin-top: -95px;
    @include breakpoint(mobile){
        height:auto;
    }
    .slick-slide{
        height:100%;
    }
    .slick-dots{
        position: absolute;
        bottom:40px;
        width:65%;
        right:0;
        li{
            margin:0;
            button{
                height:5px;
                width:5px;
                background:$medium-gray;
                border:1px solid $medium-gray;
                border-radius: 100%;
                &:before{
                    display:none;
                }
            }
            &.slick-active{
                button{
                    background:$white;
                }
            }
        }    
    }
}
.hp-carousel-btn{
    position: relative;
    .hp-carousel-next,
    .hp-carousel-prev{
        
        height:45px;
        width:45px;
        border-radius:100%;
        background:#FFF;
        text-indent: -200px;
        overflow: hidden;
        position: absolute;
        top:250px;
        z-index:999;
    }
    .hp-carousel-prev{

        left:45%;
        @include between-breakpoints(992px, 1199px){
            left:50%;
        }
    }
    .hp-carousel-next{
        right:30px;
    }
}


.ig-hp-carousel-item{
    .ig-carousel-image{
        z-index:0;
        max-width:1600px;
        left: 0;
        right: 0;
        top:0;
        margin-left: auto;
        margin-right: auto;
        position:relative;
        img{
            filter: brightness(80%);
            @include between-breakpoints(992px, 1199px){
                min-height:600px;
            }
        }
        .carousel-container{
            position:absolute;
            height:600px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }
    width:100%;
    height:520px;
    .ig-carousel-item-text{
        width:58%;
        @include vertical-align;
        z-index:999;
        text-align:center;
        position:absolute;
        right:0;
    }
    .ig-carousel-title{
        font-size: 50px;
        font-weight: 700;
        color: $white;
        line-height:60px;
    }
    .ig-carousel-desc{
        font-size:16px;
        color:$white;
        padding:10px 0 5px 0;
    }
    .ig-carousel-price{
        @extend .ig-carousel-title;
        span{
            font-size:16px;
            font-weight:400;
        }
    }
    .ig-carousel-action{
        padding-top:20px;
        .btn{
            font-size:16px;
            font-weight:700;
            margin: 0 5px;
        }
        .btn-default{
            color:$white;
            &:hover{
                color: $dark-gray;
            }
        }
    }
}
.ig-search-container{
    position:relative;
}
.ig-hp-search{
    z-index:9;
    position: absolute;
    width:455px;
    @include breakpoint(mobile){
        position: static;
        width:100%;
    }
    .ig-hp-search-form{
        background: $white;
        border-radius: 4px;
        box-shadow: 0 5px 8px 0 rgba(133, 133, 133, 0.5);
    }
    .hp-search-type{
        padding:20px 0 25px 0;
        .custom-radio{
            label{
                font-size:15px;
                padding-right:25px;
            }
        }
    }
    .ig-search-tabs{
        button{
            font-size:13px;
            border:1px solid $border-line;
            margin-right:3px;
            padding:5px 13px;
            &.ig-more{
                border:0;
                margin-right:0;
                float:right;
                padding-right:0;
                padding-left:5px;
            }
            &:hover, &.active{
                color:$white;
                background:$dark-gray;
            }
        &:last-child{
           background: transparent;
           &:hover{
               color:$black;
           } 
        }
        }
    }
    
    .ig-hp-search-form{
        padding:20px;
        .ig-search-extras{
            padding-top:25px;
            button{
                background:$light-gray;
                font-size:12px;
                margin-right:5px;
                padding:8px 12px 8px 25px;
                &:hover{
                    background:$gray;
                }
            }
        }
    }

    .ig-special-opt-btn{
        color:$dark-gray;
        font-weight:600;
        padding-left:0;
    }
    .ig-search-btn{
        padding:12px 0;
    }
}

.ig-hp-carousel, .ig-hp-carousel .slick-list{
    transition: height 0.25s ease-in;
}
